#contato{
	padding-top: 40px;
	width: 70%;
	margin: 0 auto;
}

#contato input[type=text]{
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #424242;
	margin-bottom: 20px;	
}

#contato textarea{
	width: 100%;
	padding: 10px 10px 40px 10px;
	border-radius: 5px;
	border: 1px solid #424242;
	margin-bottom: 20px;	
	resize: none;
}

#contato input[type=submit]{
	background-color: #424242;
	border-radius: 5px;
	border: 1px solid #000000;
	padding: 10px 25px 10px 25px;
	color: #ffffff;
}

#contato [type=text], select{
	width: 100%;
	padding: 10px 25px 10px 25px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #000000;
	border-radius: 4px;
	box-sizing: border-box;
}

#contato input[type=radio]{
	border-radius: 5px;
	margin-bottom: 20px;
	border: 1px solid #424242;	
}
/*-----------------------------------*/

#main {
	max-width: 1024px;
	margin: 0 auto; /* Centralizar */
	margin-top: 0px; /* Box Model */
}

header{
	min-height: 50px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	border-bottom: 1px solid #ccc;
	background: #ececec;
	z-index: 2;
}

header ul{
	padding-right: 10px;
}

header li{
	border-left: 1px solid #ccc;
}

header li a{
	margin-top: -5px;
	display: block;
	padding: 0 10px;
	color: #999;
	font-size: 16px;
	line-height: 30px;
	text-decoration: none;

}

header li a:hover{
	color: #333;
}

input#checkbox{
	visibility: hidden;
	position: absolute;
	z-index: -9999;
	opacity: 0;
}

.menu li{
	width: auto;
	float: left;
	display: block;
	position: relative;

}

.titulo{
	float: left;
}

.navegacao{
	float: right;
}